
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(90deg, #0d47a1, #1e88e5, #5e35b1, #7b1fa2);
}

.container{
    background:white;
    padding:40px;
    border-radius:15px;
    width:350px;
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
    margin-bottom:20px;
    color:#1e88e5;
}

label{
    display:block;
    margin-top:10px;
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:8px;
    border:1px solid #ccc;
    font-size:16px;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    border-radius:10px;
    font-size:16px;
    color:white;
    cursor:pointer;
    background: linear-gradient(90deg,#1e88e5,#7b1fa2);
}

button:hover{
    opacity:0.9;
}
